.home-start {
    margin-top: 400px;
    height: calc(100% - 400px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    position: relative;
}
.home-container {
    margin-top: 400px;
    display: grid;
    gap: 60px;
    position: relative;
}
.main-line {
    display: grid;
    gap: 30px;
}
.main-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
}